shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# China mirrors for native modules binary
registry=https://registry.npmmirror.com/
bcrypt_binary_host_mirror=https://npmmirror.com/mirrors/bcrypt/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
